grid2op>=1.9.0
numba>=0.55.1
scipy>=1.6.0
pandas>=1.3.0
pandapower>=2.8.0
tqdm>=4.62.2
LightSim2Grid>=0.7.1
lightning
ubelt>=0.10.1
gymnasium
ipython==8.22.1
ray==2.5.1
ray[tune]==2.5.1
ray[rllib]==2.5.1
defopt
grpcio
tensorflow==2.12.1
tensorflow-probability==0.20.1
jupyter
l2rpn_baselines
scikit-learn
matplotlib
nni
nni[BOHB]
ConfigSpace
typeguard<3
pathlib
filelock==3.10
torch
torchaudio
torchmetrics
torchvision
torch-geometric
pytorch-tabular
optuna